# ATP Match Predictor
An ATP (Association of Tennis Professionals) match predictor based on match data from 2008-2018
By: Neel Panging

In [27]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [28]:
#Combine data from 2008-2018 datasets 
data_2008 = pd.read_csv('atp_matches_2008.csv')
data_2009 = pd.read_csv('atp_matches_2009.csv')
data_2010 = pd.read_csv('atp_matches_2010.csv')
data_2011 = pd.read_csv('atp_matches_2011.csv')
data_2012 = pd.read_csv('atp_matches_2012.csv')
data_2013 = pd.read_csv('atp_matches_2013.csv')
data_2014 = pd.read_csv('atp_matches_2014.csv')
data_2015 = pd.read_csv('atp_matches_2015.csv')
data_2016 = pd.read_csv('atp_matches_2016.csv')
data_2017 = pd.read_csv('atp_matches_2017.csv')
data_2018 = pd.read_csv('atp_matches_2018.csv')
full = [data_2008, data_2009, data_2010, data_2011, data_2012, data_2013, data_2014, data_2015, data_2016, data_2017, data_2018]
df = pd.concat(full)
df.head()

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2008-339,Adelaide,Hard,NaN,A,20071231,1,103720,1.0,NaN,...,37.0,22.0,8.0,8.0,7.0,11.0,21.0,1365.0,64.0,573.0
1,2008-339,Adelaide,Hard,NaN,A,20071231,2,104076,NaN,NaN,...,40.0,21.0,14.0,10.0,5.0,10.0,65.0,566.0,81.0,481.0
2,2008-339,Adelaide,Hard,NaN,A,20071231,3,105208,NaN,NaN,...,63.0,43.0,20.0,15.0,3.0,8.0,61.0,585.0,177.0,239.0
3,2008-339,Adelaide,Hard,NaN,A,20071231,4,104542,6.0,NaN,...,56.0,39.0,19.0,15.0,3.0,7.0,43.0,714.0,76.0,517.0
4,2008-339,Adelaide,Hard,NaN,A,20071231,5,103813,3.0,NaN,...,40.0,25.0,9.0,9.0,1.0,5.0,27.0,995.0,224.0,184.0

ht = height
ioc = country
df = double faults
svp = service points

Categorical features:

    tourney_id - DON'T NEED
    tourney_name 
    surface
    draw_size - DON'T NEED
    tourney_level - REMOVE SUB C-LEVELs
    tourney_date - DON'T NEED
    match_num - DON'T NEED
    winner_id - DON'T NEED
    winner_seed - DON'T NEED
    winner_entry - DON'T NEED
    winner_name
    winner_hand
    winner_ht - DON'T NEED
    winner_ioc
    winner_age - DON'T NEED
    loser_id - DON'T NEED
    loser_seed - DON'T NEED 
    loser_entry - DON'T NEED 
    loser_name
    loser_hand
    loser_ht - DON'T NEED
    loser_ioc
    loser_age - DON'T NEED
    score - DON'T NEED
    best_of
    round
    minutes - DON'T NEED
    w_ace
    w_df
    w_svpt
    w_1stIn
    w_1stWon
    w_2ndWon
    w_SvGms
    w_bpSaved
    w_bpFaced
    l_ace
    l_df
    l_svpt
    l_1stIn
    l_1stWon
    l_2ndWon
    l_SvGms
    l_bpSaved
    l_bpFaced
    winner_rank
    winner_rank_points - DON'T NEED
    loser_rank
    loser_rank_points - DON'T NEED

# Filtering Data

In [29]:
#Uneeccesary columns 
df = df.drop(['tourney_id', 'draw_size', 'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry', 'winner_age', 'loser_id', 'loser_seed', 'loser_entry', 'loser_age', 'winner_rank_points', 'loser_rank_points', 'winner_ht', 'loser_ht', 'score', 'minutes'], axis = 1)
#Filter tournament levels to only A/M/G level tournaments
df = df[(df['tourney_level'] == 'A') | (df['tourney_level'] == 'M') | (df['tourney_level'] == 'G')]
df.index = np.arange(0,len(df))
df.head()

,tourney_name,surface,tourney_level,winner_name,winner_hand,winner_ioc,loser_name,loser_hand,loser_ioc,best_of,...,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,loser_rank
0,Adelaide,Hard,A,Lleyton Hewitt,R,AUS,Dudi Sela,R,ISR,3,...,2.0,59.0,37.0,22.0,8.0,8.0,7.0,11.0,21.0,64.0
1,Adelaide,Hard,A,Jose Acasuso,R,ARG,Alejandro Falla,L,COL,3,...,1.0,68.0,40.0,21.0,14.0,10.0,5.0,10.0,65.0,81.0
2,Adelaide,Hard,A,Ernests Gulbis,R,LAT,Andrey Golubev,R,KAZ,3,...,4.0,109.0,63.0,43.0,20.0,15.0,3.0,8.0,61.0,177.0
3,Adelaide,Hard,A,Jo Wilfried Tsonga,R,FRA,Victor Hanescu,R,ROU,3,...,0.0,93.0,56.0,39.0,19.0,15.0,3.0,7.0,43.0,76.0
4,Adelaide,Hard,A,Jarkko Nieminen,L,FIN,Ivo Klec,R,SVK,3,...,2.0,65.0,40.0,25.0,9.0,9.0,1.0,5.0,27.0,224.0

# Encoding data/Feature Engineering

In [30]:
#Label encoding categorical data
dfOld = df.copy() #copy of data before pre-encoding
from sklearn.preprocessing import LabelEncoder

categorical_feature_mask = df.dtypes==object
categorical_cols = df.columns[categorical_feature_mask].tolist()

le = LabelEncoder()
df[categorical_cols] = df[categorical_cols].apply(lambda col: le.fit_transform(col))

In [31]:
#dictionary to refer categorical columns later
ref = {'tourney_name': {}, 'surface': {}, 'tourney_level' : {}, 'winner_name' : {}, 'winner_hand' 
       : {}, 'winner_ioc' : {}, 'loser_name' : {}, 'loser_hand' : {}, 'loser_ioc' : {}, 'round' : {}}
for (cat1, cat2) in zip(df, dfOld):
    for i in range(len(df)):
        ref['tourney_name'][df['tourney_name'][i]] = dfOld['tourney_name'][i]
        ref['surface'][df['surface'][i]] = dfOld['surface'][i]
        ref['tourney_level'][df['tourney_level'][i]] = dfOld['tourney_level'][i]
        ref['winner_name'][df['winner_name'][i]] = dfOld['winner_name'][i]
        ref['winner_hand'][df['winner_hand'][i]] = dfOld['winner_hand'][i]
        ref['winner_ioc'][df['winner_ioc'][i]] = dfOld['winner_ioc'][i]
        ref['loser_name'][df['loser_name'][i]] = dfOld['loser_name'][i]
        ref['loser_hand'][df['loser_hand'][i]] = dfOld['loser_hand'][i]
        ref['loser_ioc'][df['loser_ioc'][i]] = dfOld['loser_ioc'][i]
        ref['round'][df['round'][i]] = dfOld['round'][i]

In [32]:
#Engineering player 1 / player 2 / winner feature columns
df = df.rename(columns={'winner_name' : 'p1', 'loser_name' : 'p2'})
df.head()

,tourney_name,surface,tourney_level,p1,winner_hand,winner_ioc,p2,loser_hand,loser_ioc,best_of,...,l_df,l_svpt,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,loser_rank
0,1,3,0,302,1,2,213,1,33,3,...,2.0,59.0,37.0,22.0,8.0,8.0,7.0,11.0,21.0,64.0
1,1,3,0,270,1,1,19,0,14,3,...,1.0,68.0,40.0,21.0,14.0,10.0,5.0,10.0,65.0,81.0
2,1,3,0,149,1,36,68,1,36,3,...,4.0,109.0,63.0,43.0,20.0,15.0,3.0,8.0,61.0,177.0
3,1,3,0,259,1,24,821,1,57,3,...,0.0,93.0,56.0,39.0,19.0,15.0,3.0,7.0,43.0,76.0
4,1,3,0,242,0,23,350,1,63,3,...,2.0,65.0,40.0,25.0,9.0,9.0,1.0,5.0,27.0,224.0

In [37]:
#reading reference dictionary and dataframe to csv files
import csv
with open('reference.csv', 'w') as csv_file:
    writer = csv.writer(csv_file)
    for key, value in ref.items():
       writer.writerow([key, value])
df.to_csv()