In [69]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
pd.set_option('display.max_columns', 30)

In [70]:
data = pd.read_csv('Final_data.csv').drop(['Unnamed: 0'], axis = 1)
roundReference = pd.read_csv('Round_reference.csv').set_index('round')
surfaceReference = pd.read_csv('Surface_reference.csv').set_index('surface')
tourneyReference = pd.read_csv('Tourney_reference.csv').set_index('tourney_name')
countryReference = pd.read_csv('Country_reference.csv').set_index('winner_ioc')

display(data.head())
display(len(data))
display(roundReference.head())
display(surfaceReference.head())
display(tourneyReference.head())
display(countryReference.head())

,tourney_name,surface,p1,p1_hand,p1_ht,p1_country,p1_age,p2,p2_hand,p2_ht,p2_country,p2_age,score,round,minutes,...,p1_SvGms,p1_bpSaved,p1_bpFaced,p2_ace,p2_df,l_svpt,p2_1stIn,p2_1stWon,p2_2ndWon,p2_SvGms,p2_bpSaved,p2_bpFaced,p1_rank,p2_rank,winner
0,1,3,Lleyton Hewitt,1,180.0,2,26.85,Dudi Sela,1,175.0,27,22.74,1.0,5,66.0,...,8.0,3.0,3.0,5.0,2.0,59.0,37.0,22.0,8.0,8.0,7.0,11.0,21.0,64.0,Lleyton Hewitt
1,1,3,Jose Acasuso,1,190.0,1,25.20,Alejandro Falla,0,185.0,12,24.13,1.0,5,101.0,...,11.0,8.0,12.0,2.0,1.0,68.0,40.0,21.0,14.0,10.0,5.0,10.0,65.0,81.0,Jose Acasuso
2,1,3,Ernests Gulbis,1,190.0,32,19.33,Andrey Golubev,1,185.0,30,20.44,2.0,5,138.0,...,15.0,14.0,16.0,6.0,4.0,109.0,63.0,43.0,20.0,15.0,3.0,8.0,61.0,177.0,Ernests Gulbis
3,1,3,Jo Wilfried Tsonga,1,188.0,21,22.70,Victor Hanescu,1,198.0,45,26.44,2.0,5,120.0,...,16.0,3.0,6.0,1.0,0.0,93.0,56.0,39.0,19.0,15.0,3.0,7.0,43.0,76.0,Jo Wilfried Tsonga
4,1,3,Jarkko Nieminen,0,185.0,20,26.44,Ivo Klec,1,183.0,51,27.09,1.0,5,66.0,...,9.0,0.0,1.0,3.0,2.0,65.0,40.0,25.0,9.0,9.0,1.0,5.0,27.0,224.0,Jarkko Nieminen

23487

       value
round
R32        5
R16        4
QF         2
SF         8
F          1

         value
surface
Hard         3
Clay         1
Grass        2
Carpet       0

              value
tourney_name
Adelaide          1
Chennai          25
Doha             29
Auckland          6
Sydney           90

            value
winner_ioc
AUS             2
ARG             1
LAT            32
FRA            21
FIN            20

In [71]:
#Function that returns a dataframe of all the previous matches of two given players
def getRecord(p1, p2):
    history = data[:0]
    for x in range(len(data)):
        row = data.iloc[x]
        if p1 == row['p1'] and p2 == row['p2']:
            history = history.append(row)
        elif p2 == row['p1'] and p1 == row['p2']: 
            history = history.append(row)
    history = history.reset_index().drop(['index'], axis = 1)
    return history

In [72]:
fedal = getRecord('Roger Federer', 'Rafael Nadal')
display(fedal.head())
display(len(fedal))

,tourney_name,surface,p1,p1_hand,p1_ht,p1_country,p1_age,p2,p2_hand,p2_ht,p2_country,p2_age,score,round,minutes,...,p1_SvGms,p1_bpSaved,p1_bpFaced,p2_ace,p2_df,l_svpt,p2_1stIn,p2_1stWon,p2_2ndWon,p2_SvGms,p2_bpSaved,p2_bpFaced,p1_rank,p2_rank,winner
0,59,1,Rafael Nadal,0,185.0,18,21.88,Roger Federer,1,185.0,50,26.70,1.0,1,103.0,...,12.0,1.0,5.0,5.0,0.0,75.0,47.0,28.0,8.0,12.0,1.0,7.0,2.0,1.0,Rafael Nadal
1,38,1,Rafael Nadal,0,185.0,18,21.94,Roger Federer,1,185.0,50,26.76,2.0,1,172.0,...,17.0,3.0,7.0,7.0,0.0,118.0,72.0,48.0,16.0,16.0,11.0,17.0,2.0,1.0,Rafael Nadal
2,76,1,Rafael Nadal,0,185.0,18,21.98,Roger Federer,1,185.0,50,26.80,1.0,1,108.0,...,11.0,3.0,4.0,2.0,0.0,77.0,53.0,26.0,5.0,11.0,9.0,17.0,2.0,1.0,Rafael Nadal
3,102,2,Rafael Nadal,0,185.0,18,22.06,Roger Federer,1,185.0,50,26.87,2.0,1,288.0,...,30.0,12.0,13.0,25.0,2.0,195.0,127.0,92.0,39.0,30.0,9.0,13.0,2.0,1.0,Rafael Nadal
4,7,3,Rafael Nadal,0,185.0,18,22.63,Roger Federer,1,185.0,50,27.45,2.0,1,259.0,...,24.0,13.0,19.0,11.0,6.0,172.0,89.0,65.0,38.0,26.0,9.0,16.0,1.0,2.0,Rafael Nadal

23

In [73]:
#This function will assign p1 to 1, p2 to 0, and winner to 1 and standardize the data
#This function will also get rid of p1 and p2 so that the p1 isn't the obvious winner
def normalize(data, p1, p2):
    
    #data.loc[data.p1 == p1, 'p1'] = 1 #p1
    #data.loc[data.p1 == p2, 'p1'] = 0
    #data.loc[data.p2 == p1, 'p2'] = 1 #p2
    #data.loc[data.p2 == p2, 'p2'] = 0
    data.loc[data.winner == p1, 'winner'] = 1 #p1
    data.loc[data.winner == p2, 'winner'] = 0
    data = data.drop(['p1'], axis = 1)
    data = data.drop(['p2'], axis = 1)
    
    columns = data.columns.tolist()
    columns.remove('winner')
    scaler = MinMaxScaler(feature_range=(0,1))
    for col in columns:
        data[col] = scaler.fit_transform(data[col].values.reshape(-1, 1))
    return data

In [74]:
#Normalized Data
fedalNorm = normalize(fedal, 'Roger Federer', 'Rafael Nadal')
display(fedalNorm.head(10))
display(len(fedalNorm))

/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

,tourney_name,surface,p1_hand,p1_ht,p1_country,p1_age,p2_hand,p2_ht,p2_country,p2_age,score,round,minutes,p1_ace,p1_df,...,p1_SvGms,p1_bpSaved,p1_bpFaced,p2_ace,p2_df,l_svpt,p2_1stIn,p2_1stWon,p2_2ndWon,p2_SvGms,p2_bpSaved,p2_bpFaced,p1_rank,p2_rank,winner
0,0.547368,0.0,0.0,0.0,0.0,0.000000,1.0,0.0,1.0,0.396842,0.0,0.0,0.185022,0.05,0.50,...,0.181818,0.076923,0.263158,0.20,0.000000,0.220779,0.175258,0.179487,0.088235,0.217391,0.071429,0.277778,0.0625,0.000,0
1,0.326316,0.0,0.0,0.0,0.0,0.004199,1.0,0.0,1.0,0.403158,1.0,0.0,0.488987,0.15,0.75,...,0.409091,0.230769,0.368421,0.28,0.000000,0.500000,0.432990,0.435897,0.323529,0.391304,0.785714,0.833333,0.0625,0.000,0
2,0.726316,0.0,0.0,0.0,0.0,0.006998,1.0,0.0,1.0,0.407368,0.0,0.0,0.207048,0.00,0.00,...,0.136364,0.230769,0.210526,0.08,0.000000,0.233766,0.237113,0.153846,0.000000,0.173913,0.642857,0.833333,0.0625,0.000,0
3,1.000000,0.5,0.0,0.0,0.0,0.012596,1.0,0.0,1.0,0.414737,1.0,0.0,1.000000,0.30,0.75,...,1.000000,0.923077,0.684211,1.00,0.333333,1.000000,1.000000,1.000000,1.000000,1.000000,0.642857,0.611111,0.0625,0.000,0
4,0.000000,1.0,0.0,0.0,0.0,0.052484,1.0,0.0,1.0,0.475789,1.0,0.0,0.872247,0.20,1.00,...,0.727273,1.000000,1.000000,0.44,1.000000,0.850649,0.608247,0.653846,0.970588,0.826087,0.642857,0.777778,0.0000,0.125,0
5,0.473684,0.0,1.0,0.0,1.0,0.410777,0.0,0.0,0.0,0.000000,0.0,0.0,0.110132,0.30,0.75,...,0.090909,0.307692,0.210526,0.04,0.166667,0.084416,0.134021,0.230769,0.000000,0.130435,0.000000,0.000000,0.0625,0.000,1
6,0.473684,0.0,0.0,0.0,0.0,0.143457,1.0,0.0,1.0,0.612632,0.0,0.0,0.308370,0.10,0.50,...,0.136364,0.615385,0.578947,0.36,0.000000,0.305195,0.298969,0.269231,0.264706,0.173913,0.500000,0.500000,0.1250,0.000,0
7,0.894737,1.0,1.0,0.0,1.0,0.518544,0.0,0.0,0.0,0.162105,1.0,0.0,0.162996,0.35,0.25,...,0.227273,0.076923,0.105263,0.04,0.166667,0.162338,0.216495,0.243590,0.147059,0.217391,0.000000,0.055556,0.0625,0.000,1
8,0.536842,1.0,0.0,0.0,0.0,0.204339,1.0,0.0,1.0,0.704211,0.0,1.0,0.079295,0.00,0.00,...,0.000000,0.153846,0.105263,0.24,0.166667,0.110390,0.051546,0.076923,0.176471,0.086957,0.071429,0.166667,0.0000,0.250,0
9,0.473684,0.0,0.0,0.0,0.0,0.212036,1.0,0.0,1.0,0.715789,1.0,1.0,0.418502,0.05,0.00,...,0.272727,0.692308,0.578947,0.00,0.166667,0.402597,0.340206,0.346154,0.323529,0.304348,0.500000,0.555556,0.0000,0.250,0

23

The previous dataframe represents a standardized dataframe of the matches played between Federer and Nadal. The problem with this is that my classifier would struggle to analyze a matchup in which both players have played very few matches against each other, or if they haven't played, as there would be very little to no data to utilize. In this dataframe of Federer and Nadal's matches alone, we only see 23 matches which is still a minimal amount of data to run algorithms on.

Because of this, I tried training the full 27,000-row-long original data frame after label encoding each individual player only to realize that I have ended up with too many possible winners to predict based on the data.

In [75]:
#Back to data preprocessing
from sklearn.preprocessing import LabelEncoder

p = data['p1'].drop_duplicates()
categorical_cols = ['p1']
le = LabelEncoder()
data[categorical_cols] = data[categorical_cols].apply(lambda col: le.fit_transform(col))
pp = data['p1'].drop_duplicates().rename('value')
playerReference = pd.concat([p,pp], axis = 1).set_index('p1').reindex()
display(playerReference.head())
display(data.head())
#Normalizing original dataframe
#columns = data.columns.tolist()
#columns.remove('winner')
#scaler = MinMaxScaler(feature_range=(0,1))
#for col in columns:
#    data[col] = scaler.fit_transform(data[col].values.reshape(-1, 1))

                    value
p1
Lleyton Hewitt        186
Jose Acasuso          162
Ernests Gulbis         86
Jo Wilfried Tsonga    155
Jarkko Nieminen       146

,tourney_name,surface,p1,p1_hand,p1_ht,p1_country,p1_age,p2,p2_hand,p2_ht,p2_country,p2_age,score,round,minutes,...,p1_SvGms,p1_bpSaved,p1_bpFaced,p2_ace,p2_df,l_svpt,p2_1stIn,p2_1stWon,p2_2ndWon,p2_SvGms,p2_bpSaved,p2_bpFaced,p1_rank,p2_rank,winner
0,1,3,186,1,180.0,2,26.85,Dudi Sela,1,175.0,27,22.74,1.0,5,66.0,...,8.0,3.0,3.0,5.0,2.0,59.0,37.0,22.0,8.0,8.0,7.0,11.0,21.0,64.0,Lleyton Hewitt
1,1,3,162,1,190.0,1,25.20,Alejandro Falla,0,185.0,12,24.13,1.0,5,101.0,...,11.0,8.0,12.0,2.0,1.0,68.0,40.0,21.0,14.0,10.0,5.0,10.0,65.0,81.0,Jose Acasuso
2,1,3,86,1,190.0,32,19.33,Andrey Golubev,1,185.0,30,20.44,2.0,5,138.0,...,15.0,14.0,16.0,6.0,4.0,109.0,63.0,43.0,20.0,15.0,3.0,8.0,61.0,177.0,Ernests Gulbis
3,1,3,155,1,188.0,21,22.70,Victor Hanescu,1,198.0,45,26.44,2.0,5,120.0,...,16.0,3.0,6.0,1.0,0.0,93.0,56.0,39.0,19.0,15.0,3.0,7.0,43.0,76.0,Jo Wilfried Tsonga
4,1,3,146,0,185.0,20,26.44,Ivo Klec,1,183.0,51,27.09,1.0,5,66.0,...,9.0,0.0,1.0,3.0,2.0,65.0,40.0,25.0,9.0,9.0,1.0,5.0,27.0,224.0,Jarkko Nieminen

In [76]:
#Support Vector Machine
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(fedalNorm, np.ravel(fedalNorm.winner), test_size=0.30, random_state=101)

from sklearn.svm import SVC
model = SVC()
model.fit(X_train,y_train)

predictions = model.predict(X_test)

/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

Predictions

In [77]:
predictions = model.predict(X_test)
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_test,predictions))

[[3 0]
 [1 3]]

In [78]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.75      1.00      0.86         3
           1       1.00      0.75      0.86         4

   micro avg       0.86      0.86      0.86         7
   macro avg       0.88      0.88      0.86         7
weighted avg       0.89      0.86      0.86         7

In [79]:
from sklearn.model_selection import GridSearchCV
param_grid = {'C': [0.1,1, 10, 100], 'gamma': [1,0.1,0.01,0.001]} 
grid = GridSearchCV(SVC(),param_grid,refit=True,verbose=2)
grid.fit(X_train,y_train)
grid_predictions = grid.predict(X_test)

/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s

Fitting 3 folds for each of 16 candidates, totalling 48 fits
[CV] C=0.1, gamma=1 ..................................................
[CV] ................................... C=0.1, gamma=1, total=   0.0s
[CV] C=0.1, gamma=1 ..................................................
[CV] ................................... C=0.1, gamma=1, total=   0.0s
[CV] C=0.1, gamma=1 ..................................................
[CV] ................................... C=0.1, gamma=1, total=   0.0s
[CV] C=0.1, gamma=0.1 ................................................
[CV] ................................. C=0.1, gamma=0.1, total=   0.0s
[CV] C=0.1, gamma=0.1 ................................................
[CV] ................................. C=0.1, gamma=0.1, total=   0.0s
[CV] C=0.1, gamma=0.1 ................................................
[CV] ................................. C=0.1, gamma=0.1, total=   0.0s
[CV] C=0.1, gamma=0.01 ...............................................
[CV] ................................ C=0.1, gamma=0.01, total=   0.0s
[CV] C=0.1, gamma=0.01 ...............................................
[CV] ................................ C=0.1, gamma=0.01, total=   0.0s
[CV] C=0.1, gamma=0.01 ...............................................
[CV] ................................ C=0.1, gamma=0.01, total=   0.0s
[CV] C=0.1, gamma=0.001 ..............................................
[CV] ............................... C=0.1, gamma=0.001, total=   0.0s
[CV] C=0.1, gamma=0.001 ..............................................
[CV] ............................... C=0.1, gamma=0.001, total=   0.0s
[CV] C=0.1, gamma=0.001 ..............................................
[CV] ............................... C=0.1, gamma=0.001, total=   0.0s
[CV] C=1, gamma=1 ....................................................
[CV] ..................................... C=1, gamma=1, total=   0.0s
[CV] C=1, gamma=1 ....................................................
[CV] ..................................... C=1, gamma=1, total=   0.0s
[CV] C=1, gamma=1 ....................................................
[CV] ..................................... C=1, gamma=1, total=   0.0s
[CV] C=1, gamma=0.1 ..................................................
[CV] ................................... C=1, gamma=0.1, total=   0.0s
[CV] C=1, gamma=0.1 ..................................................
[CV] ................................... C=1, gamma=0.1, total=   0.0s
[CV] C=1, gamma=0.1 ..................................................
[CV] ................................... C=1, gamma=0.1, total=   0.0s
[CV] C=1, gamma=0.01 .................................................
[CV] .................................. C=1, gamma=0.01, total=   0.0s
[CV] C=1, gamma=0.01 .................................................
[CV] .................................. C=1, gamma=0.01, total=   0.0s
[CV] C=1, gamma=0.01 .................................................
[CV] .................................. C=1, gamma=0.01, total=   0.0s
[CV] C=1, gamma=0.001 ................................................
[CV] ................................. C=1, gamma=0.001, total=   0.0s
[CV] C=1, gamma=0.001 ................................................
[CV] ................................. C=1, gamma=0.001, total=   0.0s
[CV] C=1, gamma=0.001 ................................................
[CV] ................................. C=1, gamma=0.001, total=   0.0s
[CV] C=10, gamma=1 ...................................................
[CV] .................................... C=10, gamma=1, total=   0.0s
[CV] C=10, gamma=1 ...................................................
[CV] .................................... C=10, gamma=1, total=   0.0s
[CV] C=10, gamma=1 ...................................................
[CV] .................................... C=10, gamma=1, total=   0.0s
[CV] C=10, gamma=0.1 .................................................
[CV] .................................. C=10, gamma=0.1, total=   0.0s
[CV] C=10, gamma=0.1 .................................................
[CV] .................................. C=10, gamma=0.1, total=   0.0s
[CV] C=10, gamma=0.1 .................................................
[CV] .................................. C=10, gamma=0.1, total=   0.0s
[CV] C=10, gamma=0.01 ................................................
[CV] ................................. C=10, gamma=0.01, total=   0.0s
[CV] C=10, gamma=0.01 ................................................
[CV] ................................. C=10, gamma=0.01, total=   0.0s
[CV] C=10, gamma=0.01 ................................................
[CV] ................................. C=10, gamma=0.01, total=   0.0s
[CV] C=10, gamma=0.001 ...............................................
[CV] ................................ C=10, gamma=0.001, total=   0.0s
[CV] C=10, gamma=0.001 ...............................................
[CV] ................................ C=10, gamma=0.001, total=   0.0s
[CV] C=10, gamma=0.001 ...............................................
[CV] ................................ C=10, gamma=0.001, total=   0.0s
[CV] C=100, gamma=1 ..................................................
[CV] ................................... C=100, gamma=1, total=   0.0s
[CV] C=100, gamma=1 ..................................................
[CV] ................................... C=100, gamma=1, total=   0.0s
[CV] C=100, gamma=1 ..................................................
[CV] ................................... C=100, gamma=1, total=   0.0s
[CV] C=100, gamma=0.1 ................................................
[CV] ................................. C=100, gamma=0.1, total=   0.0s
[CV] C=100, gamma=0.1 ................................................
[CV] ................................. C=100, gamma=0.1, total=   0.0s
[CV] C=100, gamma=0.1 ................................................
[CV] ................................. C=100, gamma=0.1, total=   0.0s
[CV] C=100, gamma=0.01 ...............................................
[CV] ................................ C=100, gamma=0.01, total=   0.0s
[CV] C=100, gamma=0.01 ...............................................
[CV] ................................ C=100, gamma=0.01, total=   0.0s
[CV] C=100, gamma=0.01 ...............................................
[CV] ................................ C=100, gamma=0.01, total=   0.0s
[CV] C=100, gamma=0.001 ..............................................
[CV] ............................... C=100, gamma=0.001, total=   0.0s
[CV] C=100, gamma=0.001 ..............................................
[CV] ............................... C=100, gamma=0.001, total=   0.0s
[CV] C=100, gamma=0.001 ..............................................
[CV] ............................... C=100, gamma=0.001, total=   0.0s

[Parallel(n_jobs=1)]: Done  48 out of  48 | elapsed:    0.2s finished
/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [84]:
print(confusion_matrix(y_test,grid_predictions))

[[3 0]
 [0 4]]

In [85]:
print(classification_report(y_test,grid_predictions))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         3
           1       1.00      1.00      1.00         4

   micro avg       1.00      1.00      1.00         7
   macro avg       1.00      1.00      1.00         7
weighted avg       1.00      1.00      1.00         7

In [ ]:
https://towardsdatascience.com/a-beginners-guide-to-xgboost-87f5d4c30ed7