In [4]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
pd.set_option('display.max_columns', 30)

In [5]:
data = pd.read_csv('Final_data.csv').drop(['Unnamed: 0'], axis = 1)
roundReference = pd.read_csv('Round_reference.csv').set_index('round')
surfaceReference = pd.read_csv('Surface_reference.csv').set_index('surface')
tourneyReference = pd.read_csv('Tourney_reference.csv').set_index('tourney_name')
countryReference = pd.read_csv('Country_reference.csv').set_index('winner_ioc')
playerReference = pd.read_csv('Player_reference.csv').set_index('winner_name')

display(data.head())
display(len(data))
display(roundReference.head())
display(surfaceReference.head())
display(tourneyReference.head())
display(countryReference.head())
display(playerReference.head())

,tourney_name,surface,p1,p1_hand,p1_ht,p1_country,p1_age,p2,p2_hand,p2_ht,p2_country,p2_age,score,round,minutes,...,p1_SvGms,p1_bpSaved,p1_bpFaced,p2_ace,p2_df,l_svpt,p2_1stIn,p2_1stWon,p2_2ndWon,p2_SvGms,p2_bpSaved,p2_bpFaced,p1_rank,p2_rank,winner
0,1,3,186,1,180.0,2,26.85,80,1,175.0,0,22.74,1.0,5,66.0,...,8.0,3.0,3.0,5.0,2.0,59.0,37.0,22.0,8.0,8.0,7.0,11.0,21.0,64.0,186
1,1,3,162,1,190.0,1,25.20,8,0,185.0,0,24.13,1.0,5,101.0,...,11.0,8.0,12.0,2.0,1.0,68.0,40.0,21.0,14.0,10.0,5.0,10.0,65.0,81.0,162
2,1,3,86,1,190.0,32,19.33,29,1,185.0,0,20.44,2.0,5,138.0,...,15.0,14.0,16.0,6.0,4.0,109.0,63.0,43.0,20.0,15.0,3.0,8.0,61.0,177.0,86
3,1,3,155,1,188.0,21,22.70,330,1,198.0,0,26.44,2.0,5,120.0,...,16.0,3.0,6.0,1.0,0.0,93.0,56.0,39.0,19.0,15.0,3.0,7.0,43.0,76.0,155
4,1,3,146,0,185.0,20,26.44,0,1,183.0,0,27.09,1.0,5,66.0,...,9.0,0.0,1.0,3.0,2.0,65.0,40.0,25.0,9.0,9.0,1.0,5.0,27.0,224.0,146

23487

       value
round
R32        5
R16        4
QF         2
SF         8
F          1

         value
surface
Hard         3
Clay         1
Grass        2
Carpet       0

              value
tourney_name
Adelaide          1
Chennai          25
Doha             29
Auckland          6
Sydney           90

            value
winner_ioc
AUS             2
ARG             1
LAT            32
FRA            21
FIN            20

                    value
winner_name
Lleyton Hewitt        186
Jose Acasuso          162
Ernests Gulbis         86
Jo Wilfried Tsonga    155
Jarkko Nieminen       146

In [3]:
#Now, let's normalize the data so we can feed it into our machine learning algos
columns = data.columns.tolist()
scaler = MinMaxScaler(feature_range=(0,1))
for col in columns:
    data[col] = scaler.fit_transform(data[col].values.reshape(-1, 1))
#We should also drop the p1 p2 columnss
data.head()

/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)
/anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, DataConversionWarning)

,tourney_name,surface,p1,p1_hand,p1_ht,p1_country,p1_age,p2,p2_hand,p2_ht,p2_country,p2_age,score,round,minutes,...,p1_SvGms,p1_bpSaved,p1_bpFaced,p2_ace,p2_df,l_svpt,p2_1stIn,p2_1stWon,p2_2ndWon,p2_SvGms,p2_bpSaved,p2_bpFaced,p1_rank,p2_rank,winner
0,0.009434,1.0,0.542274,1.0,0.377778,0.033333,0.466239,0.233236,1.0,0.266667,0.0,0.241821,0.0,0.625,0.054291,...,0.088889,0.125000,0.103448,0.048544,0.090909,0.120654,0.112805,0.077465,0.079208,0.087912,0.28,0.323529,0.010588,0.033351,0.542274
1,0.009434,1.0,0.472303,1.0,0.600000,0.016667,0.395726,0.023324,0.0,0.488889,0.0,0.291252,0.0,0.625,0.084939,...,0.122222,0.333333,0.413793,0.019417,0.045455,0.139059,0.121951,0.073944,0.138614,0.109890,0.20,0.294118,0.033880,0.042350,0.472303
2,0.009434,1.0,0.250729,1.0,0.600000,0.533333,0.144872,0.084548,1.0,0.488889,0.0,0.160028,1.0,0.625,0.117338,...,0.166667,0.583333,0.551724,0.058252,0.181818,0.222904,0.192073,0.151408,0.198020,0.164835,0.12,0.235294,0.031763,0.093171,0.250729
3,0.009434,1.0,0.451895,1.0,0.555556,0.350000,0.288889,0.962099,1.0,0.777778,0.0,0.373400,1.0,0.625,0.101576,...,0.177778,0.125000,0.206897,0.009709,0.000000,0.190184,0.170732,0.137324,0.188119,0.164835,0.12,0.205882,0.022234,0.039704,0.451895
4,0.009434,1.0,0.425656,0.0,0.488889,0.333333,0.448718,0.000000,1.0,0.444444,0.0,0.396515,0.0,0.625,0.054291,...,0.100000,0.000000,0.034483,0.029126,0.090909,0.132924,0.121951,0.088028,0.089109,0.098901,0.04,0.147059,0.013764,0.118052,0.425656

In [13]:
woh = data.head(50)
len(woh)

50

In [25]:
#Support Vector Machine
from sklearn.model_selection import train_test_split
X = woh.drop('winner',axis=1)
y = woh['winner']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

from sklearn.svm import SVC
svc_model = SVC()
svc_model.fit(X_train,y_train)

/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [26]:
predictions = svc_model.predict(X_test)
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_test,predictions))

[[0 0 0 0 0 0 0 0 1 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0]
 [0 0 0 0 0 0 0 0 2 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0]
 [0 0 0 0 0 0 0 0 2 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0]
 [0 0 0 0 0 0 0 0 1 0 0 0 0]]

In [19]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

          56       0.00      0.00      0.00         1
          99       0.00      0.00      0.00         1
         146       0.07      1.00      0.12         1
         155       0.00      0.00      0.00         1
         162       0.00      0.00      0.00         1
         164       0.00      0.00      0.00         1
         186       0.00      0.00      0.00         1
         188       0.00      0.00      0.00         1
         219       0.00      0.00      0.00         2
         229       0.00      0.00      0.00         1
         263       0.00      0.00      0.00         1
         265       0.00      0.00      0.00         1
         278       0.00      0.00      0.00         1
         333       0.00      0.00      0.00         1

   micro avg       0.07      0.07      0.07        15
   macro avg       0.00      0.07      0.01        15
weighted avg       0.00      0.07      0.01        15

/anaconda3/lib/python3.7/site-packages/sklearn/metrics/classification.py:1143: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)